
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 150px;
}
.footer-section{
  margin-top: 150px;
}
code {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.max-width {
  width: 90%;
  margin: 0 auto;
}
.customtabs {
  background-color: #eeeeee !important;
}

.customTextField {
  margin-top: 10px !important;
}

.thumbs .animated {
  display: none;
}

.loginsignUpCOntainer .nav-tabs .nav-link.active {
  color: #edf5e1;
  background-color: #044d96 !important;
  border: none;
}
.react-datepicker-wrapper {
  width: 100%;
}

.active {
  color: blueviolet !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #05294d !important;
}